footer
    ul.outerUl
        li
            img(src="./images/jz.png" alt="logoF")
        li.second
            ul
                li 联系方式
                li 成都小麦花网络技术有限公司
                li 联系电话：028-86666869
                li 地址：成都市武侯区武兴路86号兆信国际2栋-201
                li Email：jz22358888@163.com
        li.right
            img(src="./images/qrcode.png" alt="qrcode")
            p 关注京猪充电微信公众号，获得更多共享充电宝相关资讯！

    .copyright
        p &copy;成都小麦花网络技术有限公司   蜀 ICP 备 18034021 号-1