doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport" content="width=device-width,maximum-scale=1.0,minimum-scale=1.0,initial-scale=1,user-scalable=0")
        title 京猪充电
        block link
    body
        block header
        block content
        block footer
        block script