doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        title company
        block link
    body
        block header
        block content
        block footer
        block script