footer
  width 100%
  height rem(528)
  background: #1B1B1B
  padding rem(59) 0 0 0
  .outerUl
    width rem(1190)
    margin  0 auto rem(55)
    display: flex
    justify-content: space-between
    .second
        margin-right rem(200)
    li
      img[alt="logoF"]
        vertical-align: middle;
        display: inline-block;
        width rem(203)
        height rem(46)
      img[alt="qrcode"]
        width rem(160)
        height rem(160)
        margin-top rem(66)
      &:nth-child(1)
        display: flex
        align-items top
        margin-right rem(114)
      ul
        display: flex
        flex-direction column
        li
          font-size rem(14)
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(255,254,254,1);
          margin-bottom rem(40)
          &:nth-child(1)
            font-size:rem(18);
            margin: rem(20) 0 rem(51) 0
    .right
      text-align right
      margin-top rem(20)
      p
        display block
        font-size rem(14)
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:#fff;

  .copyright
    width: 100%
    height rem(82)
    border-top 1px solid #2A2A2A
    text-align: center
    p
      font-size:rem(14);
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(207,207,207,1);
      line-height rem(82)


