@media screen  and (max-width: 1440px)
  footer
    .outerUl
      .second
        margin-right rem(180)


@media screen and (max-width: 1439px)
  footer
    .outerUl
      .second
        margin-right rem(130)
