*{
  margin:0;
  padding: 0;
  box-sizing:border-box
}
  li{
    list-style:none
  }

 $vw_fontsize=108; // iPhone 6尺寸的根元素大小基准值
 rem($px)
    ($px / $vw_fontsize) * 1rem;

$vw_design=1920;
html {
  font-size: ($vw_fontsize / ($vw_design / 2)) * 100vw;
  padding: 0;
  margin: 0;
  body{
    min-width 1024px
  }
  @media screen and (max-width: 320px) {
    font-size: 64px;
  }
  @media screen and (max-width: 321px) and (max-width: 540px) {
    font-size: 64px;
  }
  @media screen and (max-width: 541px) and (max-width: 768px) {
    font-size: 64px;
  }
  @media screen and (min-width: 768px) and (max-width: 1024px){
    font-size: 70px
  }
  @media screen and (min-width: 1025px) and (max-width: 1280px) {
    font-size: 80px
  }
  @media screen and (min-width: 1281px) and (max-width: 1366px) {
    font-size: 85px
  }
  @media screen and (min-width: 1367px) and (max-width: 1440px) {
    font-size: 90px
  }
  @media screen and (min-width: 1441px) and (max-width: 1680px) {
    font-size: 108px
  }
  @media screen and (min-width: 1681px) and (max-width: 1920px) {
    font-size: 108px
  }
}
section
  text-align: center
  >h1
    font-size:rem(38);
    font-family:MicrosoftYaHei-Bold;
    font-weight:bold;
    color:rgba(75,70,70,1);
    line-height:rem(38);
    margin 0 auto rem(22)
  >p
    font-size:rem(14);
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(75,70,70,1);
    margin-bottom rem(60)

