
@media screen and (min-width: 1600px) and (max-width: 1800px)
  .content1
    ul
      width 80%
@media screen and (min-width: 1337px) and (max-width: 1599px)
  .content1
    ul
      width 80%
@media screen and  (max-width: 1336px)
  .content1
    ul
      width 90%
@media screen and  (min-width: 1200px) and (max-width: 1336px)
  .content1
    ul
      width 78%




