@media screen and (max-width: 1860px)
  .content1
    padding rem(83) rem(240) rem(109)




@media screen and (min-width: 1600px) and (max-width: 1800px)
  .content1
    padding rem(83) rem(200) rem(109)
@media screen and (min-width: 1400px) and (max-width: 1559px)
  .content1
    padding rem(83) rem(180) rem(109)
@media screen  and (max-width: 1399px)
  .content1
    padding rem(83) rem(160) rem(109)
@media screen and (max-width: 1240px)
  .content0
    ul
      width: 68%
  .content2
    padding rem(83) rem(200) rem(80)
    ul
      li
        width rem(357)
@media screen and (min-width: 1241px) and (max-width: 1377px)
  .content2
    padding rem(83) rem(180) rem(80)


