@import "global.styl"
@import "header.styl"
@import "footer.styl"
.joinBanner
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  border-color: #666;
  background-image: url("../images/banner2.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-bottom rem(70)
  .bannerC
    display inline-block
    position absolute
    top 38%
    margin auto
    left: 0
    right: 0
    font-size: rem(14)
    color: #fff
    width: rem(768)
    >p
      font-size:rem(32);
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(255,255,255,1);
      margin-bottom: rem(30)
    .sign
      word-wrap: break-word;
      min-height: rem(24);
      margin-bottom: rem(40)
      h1
        font-size:rem(68);
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        color:rgba(255,255,255,1);
      p
        font-size:rem(20);
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:rem(38);
    .learnMore
      font-size rem(24)
      color #fff
      width:rem(188);
      height:62px;
      border:2px solid rgba(255,255,255,1);
      border-radius:10px;
      margin auto
      text-align: center
      transition background .45s cubic-bezier(.215, .61, .355, 1),box-shadow .45s cubic-bezier(.215, .61, .355, 1),-webkit-box-shadow .45s cubic-bezier(.215, .61, .355, 1)
      cursor pointer
      &:hover
        box-shadow: 0 0 10px rgba(50,250,255,0.75);
      a
        font-size:rem(16);
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(254,254,254,1);
        line-height:rem(62);
        text-decoration none
  .arrow
    position absolute
    bottom: 10%
    left: 0
    right: 0
    margin auto
    transform translate(0px,-20px)
    img[alt="sign"]
      width: rem(38)
      height: rem(22)
.join1
  text-align: center
  padding 0 rem(340)
  p
    font-size:rem(14);
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(75,70,70,1);
    margin-bottom rem(60)
  ul
    margin 0 auto rem(63)
    display: flex
    justify-content: space-between
    flex-wrap wrap
    li
      background linear-gradient(to bottom ,#E83F27 0,#E83F27 31%,#fff 31%,#fff 100%)
      border:1px solid rgba(232,63,39,1);
      border-radius:8px;

      width:rem(276);
      height:rem(354);
      margin-bottom rem(63)
      .top
        padding-top rem(30)
        height 31%
        h5
          font-size:rem(20);
          font-family:MicrosoftYaHei-Bold;
          font-weight:bold;
          color:rgba(255,255,255,1);
          margin-bottom rem(11)
        span
          font-size:rem(14);
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(255,255,255,1);
          display: block
      p
        font-size:rem(16);
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(54,54,54,1);
        display: block
        padding rem(20) rem(30) 0
        line-height:rem(30);


  .button
    width:rem(356);
    height:rem(68);
    background:rgba(232,63,39,1);
    box-shadow:-6px 0px 12px 0px rgba(232,63,39,0.17);
    border-radius:8px;
    margin 0 auto rem(100)
    a
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      font-size:rem(20);
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(255,255,255,1);
      img[alt="arrowRight"]
        width rem(11)
        height rem(10)
        margin-left rem(20)
.content3
  width: 100%
  //height rem(847)
  text-align: center
  box-sizing border-box
  padding 0 rem(379) rem(100)
  h1
    margin-bottom rem(22)
  p
    font-size:rem(14);
    font-family:MicrosoftYaHei;
    font-weight:400;
    color:rgba(75,70,70,1);
    margin-bottom rem(67)
  ul
    display: flex
    justify-content: space-between
    li
      text-align: left;
      &:nth-child(1)
        margin-right rem(38)
      p
        font-size:rem(16);
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(75,70,70,1);
        margin-bottom 2%
        span
          color #E85A5A
          margin-left rem(4)
      input
        width:100%;
        height:9%;
        background:rgba(246,246,246,1);
        border-radius:5px;
        padding-left rem(24)
        outline none
        margin: 0
        display block
        margin-bottom 4%
        border 1px solid transparent
        transition border-color 1s
        &::-webkit-input-placeholder
          font-size:rem(16);
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(139,139,139,1);
        &:hover
          border 1px solid #E83F27
      textarea
        width:100%;
        height:40%;
        background:rgba(246,246,246,1);
        border-radius:5px;
        outline none
        resize none
        margin-bottom 9%
        border 1px solid transparent
        transition border-color 1s
        padding-left rem(24)
        padding-top rem(19)
        display block
        &::-webkit-input-placeholder
          font-size:rem(16);
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(139,139,139,1);
          line-height rem(30)
        &:hover
          border 1px solid #E83F27
      button
        width:100%;
        height:9%;
        background:rgba(232,63,39,1);
        border-radius:5px;
        border none
        outline none
        display block
        color white
        font-size:rem(20);
        font-family:MicrosoftYaHei;
        font-weight:400;
        margin: 0
        letter-spacing rem(4)
        box-shadow: 0 8px 16px rgba(232,63,39,0.55);
        &:hover
          transform: translateY(-4px);
          transition: box-shadow .3s cubic-bezier(.215, .61, .355, 1),transform .3s cubic-bezier(.215, .61, .355, 1),-webkit-box-shadow .3s cubic-bezier(.215, .61, .355, 1),-webkit-transform .3s cubic-bezier(.215, .61, .355, 1);
    .mapW
      width calc(50% - 19px)
      height 0
      overflow hidden
      position: relative
      padding-top 54%
      img[alt="map"]
        width: 100%
        height 100%
        position absolute
        top: 0
        left: 0
    .formW
      width calc(50% - 19px)
      height: 0
      //overflow: hidden
      position: relative
      padding-top 54%
      .form
        width: 100%
        height 100%
        position absolute
        top: 0
        left: 0
