@import "global.styl"
@import "header.styl"
@import "footer.styl"
.newsBanner
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
  border-color: #666;
  background-image: url("../images/news_banner.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin-bottom rem(70)
  .bannerC
    display inline-block
    position absolute
    top 38%
    margin auto
    left: 0
    right: 0
    font-size: rem(14)
    color: #fff
    .sign
      word-wrap: break-word;
      margin-bottom: rem(20)
      h1
        margin auto
        width rem(762)
        font-size:rem(68);
        font-family:MicrosoftYaHei-Bold;
        font-weight:bold;
        font-style:italic;
        color:rgba(255,255,255,1);
        line-height:rem(88);
        text-shadow:0 rem(3) rem(10) rgba(82,82,82,0.25);
    p
      font-size:rem(20);
      font-family:MicrosoftYaHei;
      font-weight:400;
      color:rgba(255,255,255,1);
      text-shadow:0 rem(3) rem(10) rgba(82,82,82,0.25);
      margin-bottom rem(40)
    .learnMore
      font-size rem(24)
      color #fff
      width:rem(188);
      height:62px;
      border:2px solid rgba(255,255,255,1);
      border-radius:10px;
      margin auto
      text-align: center
      transition background .45s cubic-bezier(.215, .61, .355, 1),box-shadow .45s cubic-bezier(.215, .61, .355, 1),-webkit-box-shadow .45s cubic-bezier(.215, .61, .355, 1)
      cursor pointer
      &:hover
        box-shadow: 0 0 10px rgba(50,250,255,0.75);
      a
        font-size:rem(16);
        font-family:MicrosoftYaHei;
        font-weight:400;
        color:rgba(254,254,254,1);
        text-decoration none
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
  .arrow
    position absolute
    bottom: 4%
    left: 0
    right: 0
    margin auto
    transform translate(0px,-20px)
    img[alt="sign"]
      width: rem(38)
      height: rem(22)
#news
  margin-bottom rem(80)
  ul
    width rem(1192)
    margin: auto
    li
      margin rem(54) auto 0
      display: flex
      justify-content: space-between
      text-align left
      &:not(:last-child)
        border-bottom 1px dashed rgba(230,230,230,1);
        padding-bottom rem(44)
      img[alt="news"]
        width rem(338)
        height rem(218)
        margin-right rem(28)
      .details
        h4
          font-size:rem(22);
          font-family:MicrosoftYaHei-Bold;
          font-weight:bold;
          color:rgba(70,70,70,1);
          line-height:rem(38);
        p
          width:rem(829);
          height:rem(99);
          font-size:rem(14);
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(70,70,70,1);
          line-height:rem(28);
          margin-bottom rem(20)
        h6
          font-size:rem(14);
          font-family:MicrosoftYaHei;
          font-weight:400;
          color:rgba(136,136,136,1);
          line-height:rem(38);
          text-align: right


