extends templates/layout
block header
    -const active=4
    include templates/header
block content
    .aboutBan
        .bannerC
            .sign
                h1 京猪移动共享充电，让你永不断电
                p jingzhu mobile sharing charging, so that you never power off.
                span 成都小麦花网络技术有限公司
        .arrow
            img(src="./images/sign.png" alt="sign")
    article
        img(src="./images/img_company.png" alt="company")
        .intro
            h3 公司简介
            p  成都小麦花网络技术有限公司是一家专门从事高新技术研发和智慧场景社交为主导的互联网创新型企业。总部位于四川成都，自成立以来，始终坚持“以用户为中心，让用户100%满意，保持不断探索新技术，不断创新商业模式”的企业文化理念，力争把京猪打造成为全国第一的共享移动电源充电平台，为用户提供“简单可依赖”的共享移动电源租借产品及服务，从终端彻底解决人们出门在外电子产品充电不及时的痛点。
    section.about1
        h1 企业文化
        p 京猪充电让每一位出行的用户移动设备都无断电之忧
        ul
            li
                img(src="./images/about_us_img01.png" alt="aboutUs")
                h6 客户至上
                p 客户是我们存在的唯一理由，客户100%满意是我们永恒的追求
            li
                img(src="./images/about_us_img02.png" alt="aboutUs")
                h6 客户至上
                p 客户是我们存在的唯一理由，客户100%满意是我们永恒的追求
            li
                img(src="./images/about_us_img03.png" alt="aboutUs")
                h6 客户至上
                p 客户是我们存在的唯一理由，客户100%满意是我们永恒的追求
            li
                img(src="./images/about_us_img04.png" alt="aboutUs")
                h6 客户至上
                p 客户是我们存在的唯一理由，客户100%满意是我们永恒的追求
block footer
    include templates/footer