extends templates/layout
block header
    -const active =5
    include templates/header
block content
    .newsBanner
        .bannerC
            .sign
                h1 京猪充电，期待您的加入
                p jingzhu charging Looking forward to your joining ~
            p 京猪充电面向全国各省市招商
            .learnMore
                a(href="#join") JOIN US
        .arrow
            img(src="./images/sign.png" alt="sign")
block footer
    include templates/footer