extends templates/layout
block header
    -const active =5
    include templates/header
block content
    .newsBanner
        .bannerC
            .sign
                h1 京猪充电携手香港著名影视明星许绍雄
            p 3月15日，京猪充电CEO周琪帆与许绍雄正式签约，此后两年的时间里，京猪充电将会以许绍雄作为自己共享充电宝的品牌代言人。
            .learnMore
                a(href="#news") 了解更多
        .arrow
            img(src="./images/sign.png" alt="sign")
    section(id="news")
        h1 新闻资讯
        p 一手掌握京猪充电最新资讯
        ul
            li
                img(src="./images/news_img04.png" alt="news")
                .details
                    h4 爽呗&京猪，共享充电宝+共享按摩椅会擦出怎样的火花
                    p 2019年7月1日，京猪充电与成都爽呗网络科技有限公司在成都正式签约达成战略合作。京猪充电的产品是共享充电宝，爽呗是共享按摩椅，同为共享产品，两者结合在一起能擦出怎样的火花呢，让我们拭目以待。 如今，中国已经全面步入共享时代，共享经济蓬勃发展，市场潜力巨大。成都小麦花网络技术有限公司是一家专业从事实体共享经济和高新技术研发的互联网创新型公司。京猪共享充电宝作为公司全力打造的共享产品...
                    h6 2019年7月1日
            li
                img(src="./images/news_img04.png" alt="news")
                .details
                    h4 爽呗&京猪，共享充电宝+共享按摩椅会擦出怎样的火花
                    p 2019年7月1日，京猪充电与成都爽呗网络科技有限公司在成都正式签约达成战略合作。京猪充电的产品是共享充电宝，爽呗是共享按摩椅，同为共享产品，两者结合在一起能擦出怎样的火花呢，让我们拭目以待。 如今，中国已经全面步入共享时代，共享经济蓬勃发展，市场潜力巨大。成都小麦花网络技术有限公司是一家专业从事实体共享经济和高新技术研发的互联网创新型公司。京猪共享充电宝作为公司全力打造的共享产品...
                    h6 2019年7月1日
            li
                img(src="./images/news_img04.png" alt="news")
                .details
                    h4 爽呗&京猪，共享充电宝+共享按摩椅会擦出怎样的火花
                    p 2019年7月1日，京猪充电与成都爽呗网络科技有限公司在成都正式签约达成战略合作。京猪充电的产品是共享充电宝，爽呗是共享按摩椅，同为共享产品，两者结合在一起能擦出怎样的火花呢，让我们拭目以待。 如今，中国已经全面步入共享时代，共享经济蓬勃发展，市场潜力巨大。成都小麦花网络技术有限公司是一家专业从事实体共享经济和高新技术研发的互联网创新型公司。京猪共享充电宝作为公司全力打造的共享产品...
                    h6 2019年7月1日
            li
                img(src="./images/news_img04.png" alt="news")
                .details
                    h4 爽呗&京猪，共享充电宝+共享按摩椅会擦出怎样的火花
                    p 2019年7月1日，京猪充电与成都爽呗网络科技有限公司在成都正式签约达成战略合作。京猪充电的产品是共享充电宝，爽呗是共享按摩椅，同为共享产品，两者结合在一起能擦出怎样的火花呢，让我们拭目以待。 如今，中国已经全面步入共享时代，共享经济蓬勃发展，市场潜力巨大。成都小麦花网络技术有限公司是一家专业从事实体共享经济和高新技术研发的互联网创新型公司。京猪共享充电宝作为公司全力打造的共享产品...
                    h6 2019年7月1日
            li
                img(src="./images/news_img04.png" alt="news")
                .details
                    h4 爽呗&京猪，共享充电宝+共享按摩椅会擦出怎样的火花
                    p 2019年7月1日，京猪充电与成都爽呗网络科技有限公司在成都正式签约达成战略合作。京猪充电的产品是共享充电宝，爽呗是共享按摩椅，同为共享产品，两者结合在一起能擦出怎样的火花呢，让我们拭目以待。 如今，中国已经全面步入共享时代，共享经济蓬勃发展，市场潜力巨大。成都小麦花网络技术有限公司是一家专业从事实体共享经济和高新技术研发的互联网创新型公司。京猪共享充电宝作为公司全力打造的共享产品...
                    h6 2019年7月1日
block footer
    include templates/footer