extends templates/layout
block header
    -const active=3
    include ./templates/header
block content
    .shareBan
        .arrow
            img(src="./images/sign.png" alt="sign")
    section.share1
        h1 应用场景
        p 京猪产品已签约红旗连锁超市，进入肯德基等多商业圈
        ul.tabs
            li.icon1.active
                .img6
                span 6槽5电
            li.icon2
                .img12
                span 12槽
            li.icon3
                .img24
                span 24槽立式柜机
        .swiper-container.swiper-no-swiping(id="swiper1")
            .swiper-wrapper
                .swiper-slide
                    ul
                        li
                            h6 智能速充 超强续航
                            p 80%电量只需半小时，2000mAh续航1整天。采用高智能聚合物电池，自动识别连接设备，调节所匹配的安全电流，在防止电源电流不匹配的同时，充电还不伤机身。
                        li
                            h6 易借易还 100%服务
                            p 异地归还，即用即走;7*24/h（咨询、解答、投诉、反馈）;实时监控电源电压、电流、容量变化;八重保障，安全可靠。
                    .pro.pro6
                .swiper-slide
                    ul
                        li
                            h6 超强续航
                            p 2000mAh续航1整天。京猪充电宝电池续航在不外接电源适配器的情况下，单靠自身配备的电池所能维持运行的时间长达一整天。
                        li
                            h6 环保认证 安全无忧
                            p 安全可靠环保标准认证，安全无毒，放心用
                    .pro.pro12
                .swiper-slide
                    ul
                        li
                            h6 多种接口 电源监管
                            p 双 USB 输出接口 ，多出一种选择；实时监控电源电压、电流、容量变化~
                        li
                            h6 九重保护 放心使用
                            p 过流保护防止电流过大；过压保护防止充电电压过大；过温保护防止充电温度过高；过功率保护防止充电功率过高，欠压保护防止充电电压过低；短路时自动切断电路；电磁场保护防止外界磁场干扰；尖峰抑制平稳充点电保护；充满自动保护。
                    .pro.pro24
            .swiper-pagination
    section.share2
        h1 京猪优势
        p 京猪充电，专注为用户提供“简单可依赖”共享移动电源租借服务。
        .swiper-container(id="swiper2")
            .swiper-wrapper
                .swiper-slide
                    img(src="./images/img0025.png" alt="scroll")
                    h6 中国平安保险质量承保产品，让用户借的放心，用得安心。
                    p 备注：（使用京猪共享移动电源充电过程中，共享移动电源发生安全隐患，造成人身意外伤害最高可赔付2万元，造成财产损失最高赔付30万）
                    h4 平安承保
                .swiper-slide
                    img(src="./images/img0026.png" alt="scroll")
                    h6 环保认证标准，安全无毒。使用环境更是经过-40℃~60℃的严酷测试
                    p 符合美国FCC电磁兼容认证以及欧盟CE安全及格认证等两大电子产品安全规范。静电防护机制有效防止-4~8KV静电电击。
                    h4 安全环保
            .swiper-pagination




block footer
    include ./templates/footer
